.sidebar{
    -fx-background-color: #fff;
}

.nav-btn{
    -fx-border-color: transparent ;
    -fx-background-color: #fff;
    -fx-font-size: 16px;
}

.nav-btn:hover{
    -fx-background-color: #efe9ff;
    -fx-text-fill: #7942fe;
}

.container{
-fx-background-color: #f5f5f5;
}